
.logo {
  margin-left: 35px;
  margin-right: 40px;
  margin-top: -19px;

  @include breakpoint(0, 470px) {
    margin-left: 0;
    margin-right: 0;
  }

  img {
    max-width: 446px;
    width: 100%;
    margin: 0 auto;
  }
}
