@mixin font($type: false, $color: #555555) {
  color: $color;
  font-family: 'Campton';

  @if $type == 'h1' {
    font-weight: 300;
  }
  @else {
    line-height: 1.625;
    font-size: 16px;
    font-weight: 300;
  }

}