header {
  @include breakpoint(0, 1400px) {
    position: relative;
    height: 175px;
    background-color: $white;
  }
  
	position:fixed;
  z-index: 99;
  width: 100%;
	background-color: rgba($gray-lightest, 0.80);
  height: 145px;

}

.container-fluid.top-menu {
  height: 45px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto;
  margin-left: auto;
  z-index: 20;
}

.top-menu-right {
  background-color: rgba($primary, 1.0);
  height:100%;
  float:right;
  color: $white;
}

.topRightItem {
  font-size: 21px;
  padding: 0px 40px;

  @include breakpoint(0, 470px) {
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    font-size: 15px;
  }

  @include breakpoint(0, 840px) {
    width: 100%;
  }

}

.topRightItem .fa {
  color: $white;
  padding-right: 7px;
  margin-left: 20px;
}

.topRightItem a {
  border-left: 1px  solid$white;
  margin-left: 14px;
}

.facebookTopRight {
  margin-left: 35px;
}

.twentyfourseven {
  width: 50px;
  display: inline-block;
  color: $tertiary;
}

.top-menu-right p {
  width:225px;
  height:30px;
  background-color: rgba($primary, 1.0);
  color: $white;
  float:left;
  font-size: 24px;
  font-weight: bold;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
}

.wpml-ls-legacy-list-horizontal {
  border: 1px solid transparent;
  padding: 10px !important;
  clear: none !important;
  float: right;
}

.fa-search {
  padding-top: 12px;
}

.contentOnderSlider {
  background-color: $blue;
  color: $white;
  height: 180px;
  transition: all 1s ease-in-out;
  height: 100%;
  max-height: 320px;
}

.textContentOnderSlider {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 35px;
  overflow: hidden;
  height: 180px;
}

.dealerVanHomePage {
  text-align: center;
  padding: 41px;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 56px;
}

.dealerVanHomePage img {
  max-width: 394px;
  margin: 0 auto;
  width: 68%;
  margin-bottom: 20px;
}

.da-thumbs li div {
  transition: all 400ms ease;
  left: 0px;
  top: 100%;
  display: block;
}

#da-thumbs > li:hover div {
  top: 0%;
}

.triangleContentOnderSlider {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 47px 47px;
  border-color: transparent transparent $white transparent;
  position: absolute;

  @include breakpoint(0, 470px) {
      display: none !important;
  }
}
