a, a:hover, a:active, a:focus {
  outline: 0;
}


.no-padding {
  padding: 0px;
}

.desktop {
  display: none;
}

.mobile {
  display: none;
  @include breakpoint(0, 1024px) {
    display: block;
  }
}

